*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(26, 26, 26);
}
a{
    text-decoration: none;
    text-shadow: none;
    color: bisque;
    font-family: cursive;
    font-weight: 800;
    font-size: x-small;
}
li{
    font-size: larger;
}


.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 120px;
    background-color: gray;
    
}

.nav__lista{
    width: 80px;
    height: 50px;
    display: inline;
    flex-direction: column;
    list-style: none;
    align-items: center;
    
    
    

}
.nav__img{
    width: 80px;
    height: 68px;
}
.nav__titulo{
    font-size: xx-large;
    font-family: cursive;
    font-style: italic;
    font-weight: 900;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 960px;
}
.carta{
    width: 280px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: gray;
    border-radius: 5px;
    overflow: hidden;
}
.carta__titulo{
    height: 50px;
    font-size: x-large;
    font-weight: 700;
    font-family: cursive;
    font-style: italic;
    color: bisque;
}
.carta__img{
    padding-bottom: 10px;
    width: 85%;
    height: 150px;
    border-radius: 5px;
}
.carta__texto{
    width: 85%;
    height: 140px;
    color:bisque;
    font-family: cursive;
    font-style: italic;
    font-size: smaller;
    overflow: auto;
    max-height: 100%;
     margin-right: -100px;
     padding-right: 100px;

} 
.carta__btn{
    width: 60px;
    background-color: black;
    color: bisque;
    font-family: cursive;
    font-style: oblique;
    font-weight: 100;
    
}

.footer{
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
}
.footer__cont__list{
    list-style: none;
    font-family: cursive;
    
}
.icons{
    color:white;
}
.icons__logo{
    width: 38px;
    height: 38px;
    border-radius: 26px;
}
.copy{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.copy__titulo{
    font-family: cursive;
    font-style: italic;
    font-size: medium;
}
.copy__logo{
    width: 10px;
    height: 10px;
}

#sector1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
#sector2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
